<%= form_with model: question, local: true do |form| %>
  <% if question.errors.any? %>
    <div class="alert alert-danger">
      <% question.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <div class="form-send-area mb-lg">
    <%= form.text_area :body, rows: 5, class: "form-text-area", placeholder: "Enter your question" %>
    
    <div class="send-block">
      <%= button_tag type: "submit", class: "button button-main send-button" do %>
        <i class="fa-solid fa-paper-plane"></i>
      <% end %>
    </div>
  </div>

  <%= form.hidden_field :receiver_id, value: @user.id %>
<% end %>