<div class="flex space-x">  
  <div> 
    <%= link_to user_path(question.user) do %>
      <% if current_user.avatar.attached? %>
        <%= image_tag current_user.avatar, class: "avatar" %>
      <% else %>
        <div class="avatar avatar-initial"><%= current_user.name.first.upcase %></div>
      <% end %>
    <% end %>
  </div>
  <div class="full-width"> 
    <div class="mb-sm text-dark">
      <p class="text-dark no-underline"><%= question.body %></p>
    </div>
    <div class="text-sm question-footer">
      <div class="text-grey">
        <%= question.created_at.present? ? l(question.created_at, format: :short) : "No timestamp" %>
      </div>
      <div class="question-btns">
        <%= link_to fa_icon('pen-to-square'), edit_question_path(question), title: "Change question text" %>
        <%= button_to fa_icon('trash'), question_path(question), 
            method: :delete, 
            title: "Delete question", class: 'delete-button' %>
      </div>
    </div>
  </div>
</div>