<div class="container"> 
  <h2 class="title">Edit user<h2>
    
    <% if @user.errors.any? %>
      <div class="mt">
        <% @user.errors.full_messages.each do |message| %>
        <p class="mt-sm text-red"><%= message %></p>
      <% end %> 
      </div>
    <% end %>

  <div class="mt-lg">
    <%= form_with model: @user, data: { turbo: false } do |form| %>
      <p class="mt"><%= form.label :name, "Name" %></p>
      <p class="mt-sm"><%= form.text_field :name, class: "form-text-field" %></p>

      <p class="mt"><%= form.label :nickname, "Nickname" %></p>
      <p class="mt-sm"><%= form.text_field :nickname, class: "form-text-field" %></p>
      
      <p class="mt"><%= form.label :email, "Email" %></p>
      <p class="mt-sm"><%= form.text_field :email, class: "form-text-field" %></p>

      <p class="mt-lg subtitle"><%= form.label :nickname, "If you don`t want change the password - leave the fields blank" %></p>

      <p class="mt"><%= form.label :password, "Password" %></p>
      <p class="mt-sm"><%= form.password_field :password, class: "form-text-field" %></p>

      <p class="mt"><%= form.label :password_confirmation, "Password" %></p>
      <p class="mt-sm"><%= form.password_field :password_confirmation, class: "form-text-field" %></p>

      <p class="mt"><%= form.label :avatar, "Profile Picture" %></p>
      <p class="mt-sm"><%= form.file_field :avatar, class: "form-text-field" %></p>

      <p class="mt-lg"><%= form.submit "Save", class: "button button-main" %>
      <span class="text-sm">or <%= link_to "back", :back %></span>
      </p>
    <% end %>
  </div>
  
  <div class="mt-lg">
    <%= button_to "Delete profile", user_path(@user),
      method: :delete,
      onclick: "return confirm('Do you want to delete your profile?');",
      class: "text-red text-sm" %>

  </div>
</div>