<div class="container form"> 
  <div>
    <div class="center mt">
      <h2 class="title text-bold">Sign up<h2>
      <h3 class="subtitle mt">Post your portfolio & ask questions</h3>
    </div>

    <% if @user.errors.any? %>
      <div class="mt">
        <% @user.errors.full_messages.each do |message| %>
        <p class="mt-sm text-red"><%= message %></p>
      <% end %> 
      </div>
    <% end %>

    <div class="mt-lg">
      <%= form_with model: @user do |form| %>
        <p class="mt"><%= form.label :name, "Name" %></p>
        <p class="mt-sm"><%= form.text_field :name, class: "form-text-field" %></p>

        <p class="mt"><%= form.label :nickname, "Nickname" %></p>
        <p class="mt-sm"><%= form.text_field :nickname, class: "form-text-field"%></p>
      
        <p class="mt"><%= form.label :email, "Email" %></p>
        <p class="mt-sm"><%= form.text_field :email, class: "form-text-field"%></p>

        <p class="mt"><%= form.label :password, "Password" %></p>
<<<<<<< HEAD
        <p class="mt-sm"><%= form.password_field :password, class: "form-text-field" %></p>

        <p class="mt"><%= form.label :password_confirmation, "Password" %></p>
        <p class="mt-sm"><%= form.password_field :password_confirmation, class: "form-text-field" %></p>

        <p class="mt"><%= form.label :position, "Position" %></p>
        <p class="mt-sm"><%= form.text_field :position, class: "form-text-field" %></p>

        <p class="mt"><%= form.label :avatar, "Profile Picture" %></p>
        <p class="mt-sm"><%= form.file_field :avatar, class: "form-text-field" %></p>
=======
        <p class="mt-sm"><%= form.password_field :password, class: "form-text-field"%></p>
>>>>>>> parent of ef1fa73 (feat: add avatar upload via Active Storage + show in navbar)

        <p class="mt-lg center"><%= form.submit "Sign Up", class: "button button-main" %></p>

      <% end %>
      <p class="subtitle mt mb-lg">
        Already have an account? 
        <%= link_to 'Sign In', new_session_path%>
      </p>

    </div>
  </div>
</div>