<div class="container profile-container">
  <div class="profile-header">
    <div class="avatar-container">
      <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar, alt: @user.name, class: "profile-avatar" %>
      <% else %>
        <%= @user.nickname.first.upcase %>
      <% end %>
    </div>

    <div class="profile-user-info mt-lg">
      <h2 class="title-lg text-bold mt-lg"><%= @user.name %></h2>
      <h2 class="title-sm text-dark mb"><%= @user.nickname %></h2>

      <% if @user.position.present? %>
        <p class="text-dark text-bold mt-lg"><%= @user.position %></p>
      <% end %>

      <div class="profile-social-links mt mb">
        <% if current_user == @user %>
          <button id="copy-email" class="social-button email" data-email="<%= @user.email %>">
            <i class="fa-solid fa-envelope"></i>
            <span id="email-text"><%= @user.email %></span>
          </button>
        <% end %>
        <%= render 'social_link', url: @user.github_url, validator: method(:safe_github_url), platform: "github", icon: "github", label: "GitHub" %>
        <%= render 'social_link', url: @user.linkedin_url, validator: method(:safe_linkedin_url), platform: "linkedin", icon: "linkedin-in", label: "LinkedIn" %>
      </div>

      <% if current_user == @user %>
        <%= link_to 'Edit Profile', edit_user_path(@user), class: 'button button-main mt' %>
      <% end %>
    </div>
  </div>
  <% if @user.education.present? || @user.experience.present? || @user.tech_stack.present? || @user.languages.present? %>
    <div class="profile-career-section mt-lg">
      <% if @user.education.present? %>
        <div class="profile-education mb">
          <h4 class="section-title mb-sm">
            <i class="fa-solid fa-graduation-cap mr-sm"></i> Education
          </h4>
          <p><%= @user.education %></p>
        </div>
      <% end %>

      <% if @user.experience.present? %>
        <div class="profile-experience mb">
          <h4 class="section-title mb-sm">
            <i class="fa-solid fa-suitcase mr-sm"></i> Experience
          </h4>
          <p><%= @user.experience %></p>
        </div>
      <% end %>

      <% if @user.tech_stack.present? %>
        <div class="profile-tech-stack mb">
          <h4 class="section-title mb-sm">
            <i class="fa-solid fa-laptop mr-sm"></i> Tech Stack
          </h4>
          <p><%= @user.tech_stack %></p>
        </div>
      <% end %>

      <% if @user.languages.present? %>
        <div class="profile-languages mb-md">
          <h4 class="section-title mb-sm">
            <i class="fa-solid fa-globe mr-sm"></i> Languages
          </h4>
          <p><%= @user.languages %></p>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="profile-questions-section">
    <%= render 'questions/form', question: @new_question %>

    <h4 class="section-title mb-sm">
      <%= @received_questions.count %>
      <%= question_count_text(@received_questions.count) %>
    </h4>

    <% if @received_questions.present? %>
      <% @received_questions.each do |question| %>
        <div class="question-container">
          <%= render question %>
        </div>
      <% end %>
    <% else %>
      <p><%= @user == current_user ? "You" : @user.nickname %> haven’t received any questions yet.</p>
    <% end %>
  </div>
</div>
