<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Askify" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= tag.link rel: "stylesheet", href: "https://fonts.googleapis.com/css2?family=Inter&display=swap" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <div class="wrapper">
      <nav class="navbar">
        <p class="title-lg  text-bold">
          <%= link_to "Askify", root_path, class: "nav-logo"%>
        </p>
        <div class="navbar-right">
          <% if current_user.present? %>
            <%= "@#{current_user.nickname}" %>
            <%= button_to "Exit", session_path, method: :delete %>
          <% else %>
            <%= link_to 'Sign Up', new_user_path, class: "button button-main nav-btn" %>
            <%= link_to 'Sign In', new_session_path, class: "button button-main nav-btn" %>
          <% end %>
        </div>
      </nav>
      <div class="wrapper main">
        <% if flash[:notice].present? %>
          <div class="toast success" id="toast-notice">
            <i class="fa-solid fa-check"></i>
            <%= flash[:notice] %>
          </div>
        <% elsif flash[:alert].present? %>
          <div class="toast error" id="toast-alert">
            <i class="fa-solid fa-xmark"></i>
            <%= flash[:alert] %>
          </div>
        <% end %>
    
        <%= yield %> 
      </div>
    </div>
  </body>
</html>
